*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo{
    height: 150px;
    float: left;
}

nav{
    width: 95%;
    margin: auto;
    padding-top: 20px;
}

nav ul {
    overflow: auto;
    text-align: right;
}

nav ul li{
    display: inline-block;
    margin: 20px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
}

section {
    width: 100%;
    overflow: auto;
}

.image-container {
    float: right;
    width: 50%;
    text-align: right;
    padding: 100px;
}

.image-container img {
    max-width: 70%;
    border-radius: 50%;
}
.talking{
    display: inline-block;
    margin-top: 20%;
    margin-left: 6%;
    }
    
.talking h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.talking a{
    padding: 10px 18px;
    background: #212121;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 20px 0;
    border-radius: 5px;
}